<form asp-action="AddHoliday" method="post">

    <div class="modal-header">
        <h2 class="modal-title">Add Holiday</h2>
        
        

        <a asp-controller="Home" asp-action="HolidayList" class="btn btn-sm btn-outline-primary">
            Holiday List
        </a>

        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <hr>

    <div class="modal-body">

        <input type="hidden" name="Id" id="Id" />

        <div class="mb-2">
            <label class="form-label">Holiday</label>
            <input type="text" class="form-control form-control-sm" name="Holiday" id="Holiday" required />
        </div>

        <div class="mb-2">
            <label class="form-label">Date</label>
            <input type="date" class="form-control form-control-sm" name="Date" id="Date" required />
        </div>

        <div class="mb-2">
            <label class="form-label">Description</label>
            <textarea class="form-control form-control-sm" name="Description" id="Description" rows="2"></textarea>
        </div>

        <div class="mb-2">
            <label class="form-label">Status</label>
            <select class="form-select form-select-sm" name="Active" id="Active">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal" onclick="clearForm()">Cancel</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </div>

</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        document.querySelectorAll(".edit-btn").forEach(btn => {

            btn.addEventListener("click", function () {

                Id.value = this.dataset.id;
                Holiday.value = this.dataset.holiday;
                Date.value = this.dataset.date;
                Description.value = this.dataset.description;
                Active.value = (this.dataset.active === "True" || this.dataset.active === "true") ? "true" : "false";

                new bootstrap.Modal(document.getElementById('holidayModal')).show();
            });
        });
    });

    function clearForm() {
        Id.value = "";
        Holiday.value = "";
        Date.value = "";
        Description.value = "";
        Active.value = "true";
    }
</script>
